# Python bytecode and cache
__pycache__/
*.pyc
venv/
.pytest_cache/

# Environment variables and secrets
.env

# Docker data volumes (crucial so you don't commit your database disk files)
postgres_data/